SECRET_KEY="{{key}}"
DEBUG=False
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{PROJECT_NAME}}',
        'USER': '{{PROJECT_NAME}}',
        'PASSWORD': '{{password}}',
        'HOST': 'localhost',

    },
}
