[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = /app/src
module          = {{PROJECT_NAME}}.wsgi
home            = /app/venv

master          = true
processes       = 10
chmod_socket    = 664
socket          = /tmp/app.sock
touch-reload    = /tmp/app.reload
vacuum          = true
env             = SECRET_KEY={{key}}
env             = DATABASE_URL=postgresql://{{PROJECT_NAME}}:{{password}}@localhost:5432/{{PROJECT_NAME}}
env             = MEDIA_ROOT=/app/media
env             = MEDIA_STATIC=/app/static
